* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.top-comment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & > a {
        background-color: transparent;
        border: 2px solid black;
        border-radius: 15px;
        padding: .25rem .5rem;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        touch-action: manipulation;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        will-change: transform;

        &:hover {
            color: aliceblue;
            background-color: black;
            box-shadow: rgba(0, 0, 0, .25) 0 8px 15px;
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: none;
            transform: translateY(0);
        }
    }
}

header.sun-design1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;
    }

    & > nav.button-classes {
        display: flex;
        gap: 2rem;
        align-items: center;

        & > a {
            text-decoration: none;
            border: solid black;
            border-radius: 20%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color : black;
            padding: .3rem .6rem;
        }
    }
}

header.sun-design2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;
    }

    & > nav.button-classes {
        display: flex;
        gap: 2rem;

        & > a {
            text-decoration: none;
            border: solid black;
            border-radius: 20%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color : black;
            padding: .3rem .6rem;
        }
    }
}

header.sun-design3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > div.logo {
        display: flex;
        justify-content: center;
        flex-direction: row ;
        gap: 0.5rem;

        & > img {
            height: 70px;
        }
    }

    & > div.search-bar {
        display: flex;
        padding-right: 20rem;
    }

    & > nav.button-classes {
        display: flex;
        gap: 2rem;

        & > a {
            text-decoration: none;
            border: solid black;
            border-radius: 20%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color : black;
            padding: .3rem .6rem;
        }
    }
}

header.sun-design4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img.sun-design {
        height: 70px;
    }

    & > nav.button-classes {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & > a {
            border: 1px solid black;
            border-radius: 30px;
            padding: 0.5vw 1vw;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            color: black;

            &:active {
                box-shadow: #422800 2px 2px 0 0;
                transform: translate(2px, 2px);
            }
        }

        & > i {
            padding-left: 34rem;
        }

    }
}

header.sun-design5 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;

        &:hover {
            transition: all 1s;
            transform: rotateZ(360deg);
        }
    }

    & > nav.button-classes {
        display: flex;
        gap: 2rem;

        & > a {
            text-decoration: none;
            border: solid black;
            border-radius: 20%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color : black;
            padding: .3rem .6rem;

            &:hover {
                background-color: #000;
                color: azure;
            }
        }
    }
}

header.sun-design6 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: burlywood;
    padding: 0.5rem 2rem;

    & > img {
        height: 70px;
    }

    & > nav.button-classes {
        display: flex;
        gap: 0.5rem;
        justify-content: center;

        & > a {
            border: 1px solid aliceblue;
            border-radius: 8px;
            padding: 0.5vw 1vw;
            text-align: center;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            will-change: transform;
            width: 100%;
            touch-action: manipulation;

            &:hover {
                box-shadow: rgba(0, 0, 0, .25) 0 8px 15px;
                transform: translateY(-2px);

                &:active {
                    box-shadow: none;
                    transform: translateY(0);
                }
            }
        }
    }
}

header.sun-design7 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;

        &:hover {
            transition: all 1s;
            transform: rotateZ(360deg);
        }
    }

    & > nav.button-classes {
        display: flex;
        justify-content: center;
        gap: 1rem;

         & > a {
            font-family:'Courier New', Courier, monospace;
            color: #fff;
            padding: 0.5rem 1rem;
            touch-action: manipulation;
            font-weight: 400;
            line-height: 20px;
            box-sizing: border-box;
            background-color: black;
            border: 1px solid;
            border-radius: 4px;
            display: inline-block;
            box-shadow: white 4px 0 0, burlywood 4px 4px 0 1px;

            &:active {
                box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
                transform: translate(2px, 2px);
            }
         }
    }
}

header.sun-design8 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;

        &:hover {
            transition: all 1s;
            transform: rotateZ(360deg);
        }
    }

    & > nav.button-classes {
        display: flex;
        justify-content: center;
        gap: 1rem;

         & > a {
            font-family:'Courier New', Courier, monospace;
            color: #fff;
            padding: 0.5rem 1rem;
            touch-action: manipulation;
            font-weight: 400;
            line-height: 20px;
            box-sizing: border-box;
            background-color: black;
            border: 1px solid;
            border-radius: 4px;
            display: inline-block;
            box-shadow: white 4px 0 0, burlywood 4px 4px 0 1px;

            &:active {
                box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
                transform: translate(2px, 2px);
            }
         }
    }

    i {

        display: flex;
        justify-content: center;
        padding-top: 0.7rem;
        padding-left: 0.5rem;
        cursor: pointer;

    }

}

header.sun-design9 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    padding: 0.5rem 1rem;

    & > img {
        height: 70px;

        &:hover {
            transition: all 1s;
            transform: rotateZ(360deg);
        }
    }

    & > nav.button-classes {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & > a {
            border: 1px solid black;
            border-radius: 30px;
            padding: 0.5vw 1vw;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            color: black;

            &:active {
                box-shadow: #422800 2px 2px 0 0;
                transform: translate(2px, 2px);
            }
        }
    }
}

header.sun-design-final {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    padding: 0.5rem 1rem;

    & > nav.button-classes {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 0.5rem;

        & > a {
        background-color: black;
        border-radius: 3px;
        border: 1px solid black;
        box-shadow: black;
        box-sizing: border-box;
        color: aliceblue;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15385;
        margin: 0;
        outline: none;
        padding: 8px .8em;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;
        box-shadow: white 4px 0 0, white 4px 4px 0 1px;

        &:active {
            box-shadow: burlywood 2px 2px 0 0;
            transform: translate(2px, 2px);
            }
        }

    }

    & > .roll-out {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:hover {
            & > img {
                transform: rotateZ(720deg);
                transition: all 0.3s ease;
            }

            & > h1.img-name {
                color: aliceblue;
                transform: translateX(0);
            }
        }

        & > img {
            height: 70px;
            transition: all 0.3s ease;
        }

        & > h1.img-name {
            color: transparent;
            transform: translateX(-5rem);
            transition: all 0.3s ease;
        }
    }

}