* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header.sun-design1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;
    }

    & > nav.button-classes {
        display: flex;
        gap: 2rem;
        align-items: center;

        & > a {
            text-decoration: none;
            border: solid black;
            border-radius: 20%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color : black;
            padding: .3rem .6rem;
        }
    }
}

header.sun-design2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;
    }

    & > nav.button-classes {
        display: flex;
        gap: 2rem;

        & > a {
            text-decoration: none;
            border: solid black;
            border-radius: 20%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color : black;
            padding: .3rem .6rem;
        }
    }
}

header.sun-design3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;

        &:hover {
            transition: all 1s;
            transform: rotateZ(360deg);
        }
    }

    & > nav.button-classes {
        display: flex;
        gap: 2rem;

        & > a {
            text-decoration: none;
            border: solid black;
            border-radius: 20%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color : black;
            padding: .3rem .6rem;

            &:hover {
                background-color: #000;
                color: azure;
            }
        }
    }
}

header.sun-design4 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;

        &:hover {
            transition: all 1s;
            transform: rotateZ(360deg);
        }
    }

    & > nav.button-classes {
        display: flex;
        justify-content: center;
        gap: 1rem;

         & > a {
            font-family:'Courier New', Courier, monospace;
            color: #fff;
            padding: 0.5rem 1rem;
            touch-action: manipulation;
            font-weight: 400;
            line-height: 20px;
            box-sizing: border-box;
            background-color: black;
            border: 1px solid;
            border-radius: 4px;
            display: inline-block;
            box-shadow: white 4px 0 0, burlywood 4px 4px 0 1px;

            &:active {
                box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
                transform: translate(2px, 2px);
            }
         }
    }
}

header.sun-design5 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: burlywood;

    & > img {
        height: 70px;

        &:hover {
            transition: all 1s;
            transform: rotateZ(360deg);
        }
    }
}